.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center; 
	height: 100vh;
	color: #fff;
	background: url('/assets/background.png') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	position: relative; 
}

.source-guide-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);    /*badel hne ya si zebi*/
    color: #ffffff;
    border: none;
    padding: 1rem 3rem;                                    
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.source-guide-btn:hover {
	background: #0ab9e6; 
}

.source-guide-btn:active {
	transform: scale(0.5); 
}

.intro-paragraph {
	color: white; 
	background: rgba(0, 0, 0, 0.6); 
	padding: 1rem; 
	border-radius: 8px; 
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
	max-width: 300px; 
	position: absolute; 
	top: 40%; 
	right: 75%; 
	text-shadow: none; 
	font-size: 1rem; 
	line-height: 1.6; 
	z-index: 10; 
}

@media (max-width: 768px) {
	.intro-paragraph {
	  position: static; 
	  margin-top: 2rem; 
	  max-width: 80%; 
	}
}

h1 {
	font-size: 3rem; 
	color: white; 
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); 
	margin-bottom: 1rem;
}

.upload-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center; /* Center its children vertically */
	position: relative; 
	background: rgba(0, 0, 0, 0.5);
	padding: 2rem;
	border-radius: 10px;
}

.upload-btn,
.analyze-btn {
	background: #333;
	color: #fff;
	border: none;
	padding: 1rem 3rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	margin: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
	border-radius: 5px; 
}

.upload-btn:hover,
.analyze-btn:hover {
	background: #0ab9e6; 
}

.upload-btn:active,
.analyze-btn:active {
	transform: scale(0.98); 
}

label.upload-btn, button.analyze-btn {
	font-size: 1.5rem;
	padding: 20px 40px;
}

.mat-spinner {
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
}

.loading-circle {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-radius: 50%;
	border-top: 4px solid #294ef4;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin-top: 20px; 
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
